
body{
    background-color: #ffffff;
        opacity: 1;
        background-image: linear-gradient(#f6f6f6 1.8px, transparent 1.8px), linear-gradient(to right, #f6f6f6 1.8px, #ffffff 1.8px);
        background-size: 36px 36px;
        min-width:1300px;
}

.quescolor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(134, 51, 228);
    width: 1200px;
    height: 70px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 15px #00000050;
}

.quescolors{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    width: 1100px;
    margin: auto;
    border-radius:0 0 50px 50px;
    padding: 15px;
    box-shadow: 0 0 15px #00000050;
}

.colorrgb{
    color: #fff;
    background: #00000050;
    padding:5px 20px;
    width: 200px;
    text-align: center;
    font-size: 22px;
}
.colorrgbs {
    color: #fff;
    padding: 5px 20px;
    width: 300px;
    text-align: center;
    font-size: 22px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 1200px;
    margin:50px auto;
}
.normal-mode{
    display: flex;
    align-items: center;
}
.ans{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 15px #00000020;
    border-radius:25px;
    margin: 20px;
    background: rgb(136, 202, 247);
    cursor: pointer;
    transition: .3s ease;
}

.ans:hover{
   transform: scale(1.05);
}

.quest{
    font-size: 32px;
}

.overlay{
    display: none;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.inner{
    position: relative;
    margin: 150px;
    font-size: 64px;
    color: #fff;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 0 0 30px #00000080;
    
}

.mode{
    padding: 10px 25px;
    background-color: rgb(134, 51, 228);
    border: none;
    outline: none;
    border-radius: 50px;
    margin: 15px;
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

.mode:hover{
    transform: scale(1.07);
}

.active{
    opacity: .5;
}
.active:hover {
    transform: scale(1);
}

.wrong{
animation: wrong .1s ease 4;
background-color: rgb(228, 51, 51);
}
.harder-mode {
    display: flex;
}
@keyframes wrong {
    0%{
    
        left: 5px;
    }
        33% {
       
            left: -5px;
        }

        99%{
            left: 5px;
        }
}


.true {
    animation: true .4s ease;
    background-color: rgb(73, 142, 34);
}

@keyframes true {
    0% {

        top: -155px;
    }

    100% {

        top: 0px;
    }

}

